[Desktop Entry]
Name=Winbox
GenericName=RouterOS Configuration Tool
Comment=RouterOS Configuration Tool
Exec=winbox
Type=Application
StartupNotify=true
StartupWMClass=winbox.exe
Icon=winbox
Categories=Wine;Settings;Network;
